<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Error</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: 'Georgia', serif;
        background-color: black;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
      }
      h1 {
        font-size: 56px;
        color: red;
      }
      p {
        font-size: 16px;
      }
      footer {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1>Error</h1>
    <p><%= message %></p>
    <p><%= error.status || 500 %></p>
    <footer>Powered By MoisésGJ</footer>
  </body>
</html>
